<% if @product.errors.full_messages %>
    <% @product.errors.full_messages.each do |message|%>
        <div class="error">
            <%= message %>
        </div>
    <% end %>
<% end %>

<div class="main">
    <h2>商品編集</h2>

    <div class="user-new">
        <%= form_tag("/masters/update/product/#{@product.id}", {multipart: true}) do %>
            <p>商品名</p>
                <input name="name" value="<%= @product.name %>">
            <p>商品写真</p>
                <input type="file" name="product_img">
            <p>金額</p>
                <input name="money" value="<%= @product.money %>">
            <p>商品説明</p>
                <textarea name="description" placeholder="300字以内で入力" ><%= @product.description %></textarea>
            <button type="submit">編集</button>
            <div class="clear"></div>
        <% end %>
    </div>

</div>