<div class="main">
    <h2>商品一覧</h2>

    <div class="products">
        <% @products.each do |product| %>
            <div class="product">
                <h2><%= product.name %></h2>
                <img src="<%= "/image/#{product.product_img}"%>" >
                <div class="product-show">
                    <%= link_to("詳細","/products/show/#{product.id}") %>
                </div>
                <p><%= "¥#{product.money}" %></p>
                <div class="buy-btn">
                    <% if @current_user.admin_id == 0 %>
                        <button><%= link_to("購入", "/products/check/#{product.id}", {method: "post"}) %></button>
                    <% else %>
                        <button><%= link_to("編集", "/masters/edit/product/#{product.id}") %></button>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="clear"></div>

</div>