<div class="main">
    <h2>商品詳細</h2>

    <div class="product-details">
        <h2><%= @product.name %></h2>
        <img src="<%= "/image/#{@product.product_img}"%>" >
        <p><%= "¥#{@product.money}" %></p>
        <div class="description">
            <%= @product.description %>
        </div>
        <div class="buy-btn2">
            <% if @current_user.admin_id == 0 %>
                <button><%= link_to("購入", "/products/check/#{@product.id}", {method: "post"}) %></button>
            <% else %>
                <button><%= link_to("編集", "/masters/edit/product/#{@product.id}") %></button>
            <% end %>
        </div>
    </div>
    
</div>