<!DOCTYPE html>
<html>
  <head>
    <title>Ecsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="<%= @header_color%>">
      <div class="header-logo">
        高天ショッピング
      </div>
      <div class="<%= @header_menu_color%>">
        <ul>
          <% if @current_user && @current_user.admin_id == 0 %>
            <li class="css-reset">
              <%= "アカウント：#{@current_user.name}" %>
            </li>
            <li>
              <%= link_to("マイページ","/users/index") %>
            </li>
            <li>
              <%= link_to("商品ページ","/products/index") %>
            </li>
            <li>
              <%= link_to("注文確認","/products/confirm") %>
            </li>
            <li>
              <%= link_to("注文履歴","/products/ordersum") %>
            </li>
            <li>
              <%= link_to("ログアウト","/logout", {method: "post"}) %>
            </li>
          <% elsif @current_user && @current_user.admin_id == 1 %>
            <li class="css-reset">
              <%= "アカウント：#{@current_user.name}" %>
            </li>
            <li>
              <%= link_to("マイページ","/masters/index") %>
            </li>
            <li>
              <%= link_to("商品登録","/masters/new") %>
            </li>
            <li>
              <%= link_to("商品一覧","/products/index") %>
            </li>
            <li>
              <%= link_to("ユーザー管理","/masters/userlist") %>
            </li>
            <li>
              <%= link_to("ユーザー購入履歴","") %>
            </li>
            <li>
              <%= link_to("ログアウト","/logout", {method: "post"}) %>
            </li>
          <% else %>
            <li>
              <%= link_to("ログイン画面","/login") %>
            </li>
            <li>
              <%= link_to("新規アカウント作成","/users/new") %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if @error_message%>
      <div class="error">
          <%= @error_message%>
      </div>
    <% end %>

    <%= yield %>


    <footer class="<%= @header_color%>">
      <p>©︎Hiroki Takakumo</p>
    </footer>
  </body>
</html>
